.optionsPanel {
    border: 1px solid black;
    box-shadow: 10px 10px 5px gray;
    padding: 10px;
    background: #d4d0c8;
    width: 350px;
    font-size: 9pt;
}

h2 {
    margin: 0;
}

table {
    margin-bottom: 10px;
}

td {
    width: 200px;
}

p {
    margin: 0;
    padding: 0;
}

::deep input[type="number"] {
    width: 40px;
    display: inline-block;
}

button {
    width: 70px;
    padding: 3px;
    margin-left: 3px;
}