.square {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.square-closed {
}

.square-button {
    background-image: url(images/NormalButtonReady.png);
    box-sizing: border-box;
    cursor: pointer;
    border-style: outset;
    border: 1px solid #E0E0E0;
}

    .square-button:hover {
        background-image: url(images/NormalButtonHover.png);
    }

    .square-button:active {
        background-image: url(images/NormalButtonPressed.png);
    }

.square-open {
    background-color: #e5efde;
}

.square-exploded {
    background-color: red;
}

.tip-safe {
    background-image: url(images/TipGreen.png);
}

    .tip-safe.square-button {
        background-image: url(images/TipButtonReady.png);
    }

        .tip-safe.square-button:hover {
            background-image: url(images/TipButtonHover.png);
        }

        .tip-safe.square-button:active {
            background-image: url(images/TipButtonPressed.png);
        }

.tip-mine {
    background-image: url(images/TipRed.png);
}

    .tip-mine.square-button {
        background-image: url(images/TipRedButtonReady.png);
    }

        .tip-mine.square-button:hover {
            background-image: url(images/TipRedButtonHover.png);
        }

        .tip-mine.square-button:active {
            background-image: url(images/TipRedButtonPressed.png);
        }

img {
    margin: auto;
    height: auto;
}