.square {
    display: block;
    width: 100%;
    height: 100%;
}

.square-closed {
}

.square-button {
    background: url(images/NormalButtonReady.png) no-repeat top;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-style: outset;
    border: 1px solid #E0E0E0;
}

    .square-button:hover {
        background: url(images/NormalButtonHover.png) no-repeat top;
    }

    .square-button:active {
        background: url(images/NormalButtonPressed.png) no-repeat top;
    }

.square-open {
    background-color: #e5efde;
}

.square-exploded {
    background-color: red;
}

.tip-safe {
    background: url(images/TipGreen.png) no-repeat top;
}

    .tip-safe.square-button {
        background: url(images/TipButtonReady.png) no-repeat top;
    }

        .tip-safe.square-button:hover {
            background: url(images/TipButtonHover.png) no-repeat top;
        }

        .tip-safe.square-button:active {
            background: url(images/TipButtonPressed.png) no-repeat top;
        }

.tip-mine {
    background: url(images/TipRed.png) no-repeat top;
}

    .tip-mine.square-button {
        background: url(images/TipRedButtonReady.png) no-repeat top;
    }

        .tip-mine.square-button:hover {
            background: url(images/TipRedButtonHover.png) no-repeat top;
        }

        .tip-mine.square-button:active {
            background: url(images/TipRedButtonPressed.png) no-repeat top;
        }